.containerProjects,
.containerServices,
.containerContacts,
.containerIntro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerIntro {
  height: auto;
  padding-top: 7.5rem;
  margin-bottom: 3.4rem;
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 94px;

  & .boxInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-inline: 180px;

    & header {
      max-width: 680px;

      & .avatar {
        position: relative;

        margin: 8px;

        padding-bottom: 56px;
        justify-content: center;
        align-items: center;

        #code-icon {
          position: absolute;
          top: 45%;
          left: 52.5%;
          max-width: 32px;
        }

        & .circle {
          justify-content: center;
          align-items: center;
          width: 96px;
          height: 96px;
          border-radius: 50%;
          border: 2px solid var(--principal-red);

          img {
            width: 87.27px;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
          }
        }
      }

      & .description {
        flex-direction: column;
        align-items: center;

        & h3 {
          color: var(--base-gray-500);

          & span {
            color: var(--principal-red);
          }
        }

        & h1 {
          color: var(--base-gray-600);
        }

        & p {
          margin-top: 1.25rem;
          color: var(--base-gray-400);
        }
      }
    }

    & .tags {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px;

      & .cardTag {
        height: 2.4rem;
        width: 7rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        font: var(--text-md);
        color: var(--base-gray-500);
        background-color: var(--base-gray-300);
        border-radius: 1rem;
      }
    }
  }

  & .intro img {
    width: 2rem;
    height: 2rem;
  }
}

.containerProjects,
.containerServices,
.containerContacts {
  gap: 56px;

  & header {
    text-align: center;

    & h3 {
      margin-bottom: 8px;
      color: var(--principal-red);
    }
  }
}

.containerProjects {
  padding: 72px 163px 144px;

  & .boxProjects {
    width: 100%;
    max-width: 1040px;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.25rem;

    & .cardProject {
      padding: 13px;
      background-color: var(--base-gray-300);
      border-radius: 0.75rem;

      &:hover {
        padding: 12px;
        border: solid 1px var(--base-gray-400);
      }

      & img {
        width: 100%;
        border-radius: 0.5rem;
      }

      & div {
        padding: 4px;
        flex-direction: column;
        gap: 8px;
      }

      & h3 {
        margin-top: 20px;
        font: var(--title-sm);
      }

      & p {
        font: var(--text-sm);
        color: var(--base-gray-500);
      }
    }
  }
}

.containerServices {
  padding: 88px 240px 120px;
  background-color: var(--base-gray-100);

  & .boxServices {
    width: 100%;
    max-width: 888px;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 24px;

    & .cardService {
      padding: 20px;
      border: 2px solid var(--base-gray-200);
      border-radius: 0.75rem;

      & img {
        height: 48px;
        width: 48px;
      }

      & div {
        margin-top: 20px;
        flex-direction: column;
        gap: 8px;

        & h3 {
          font: var(--title-sm);
        }

        & p {
          color: var(--base-gray-500);
        }
      }
    }
  }
}

.containerContacts {
  padding: 128px 120px 200px;

  background-image: url(../assets/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 48px;

  & header {
    & h3 {
      color: var(--principal-purple);
    }

    & h2,
    p {
      margin-top: 8px;
    }

    & p {
      color: var(--base-gray-500);
    }
  }

  & .boxLinks {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & .cardLink {
      width: 100%;
      padding: 21px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.5rem;
      background-color: var(--base-gray-300);

      & span {
        display: flex;
        align-items: center;
        gap: 12px;

        & img {
          width: 28px;
          height: 28px;
        }

        & p {
          color: var(--color-gray-500);
        }
      }

      & img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        padding: 20px;
        border: 1px solid var(--principal-blue);
        img {
          filter: invert(58%) sepia(94%) saturate(2457%) hue-rotate(180deg)
            brightness(92%) contrast(86%);
        }
      }
    }
  }
}
